.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
*.md
tests
phpunit.xml
.phpunit.result.cache
Dockerfile*
docker-compose*
.dockerignore
