MYSQL_DATABASE="railway"
MYSQL_PUBLIC_URL="mysql://root:iNKrzGODuVzHhwOsJLWSfvmMvJROfLWl@ballast.proxy.rlwy.net:23116/railway"
MYSQL_ROOT_PASSWORD="iNKrzGODuVzHhwOsJLWSfvmMvJROfLWl"
MYSQL_URL="mysql://root:iNKrzGODuVzHhwOsJLWSfvmMvJROfLWl@mysql.railway.internal:3306/railway"
MYSQLDATABASE="railway"
MYSQLHOST="mysql.railway.internal"
MYSQLPASSWORD="iNKrzGODuVzHhwOsJLWSfvmMvJROfLWl"
MYSQLPORT="3306"
MYSQLUSER="root"